
<div class="alert alert-success" role="alert">
  <strong>Welcome!</strong> This is an angular2 + webpack playground.
</div>
<ul>
  <li>
    <strong>Forms</strong>
    <ul>
      <li>
        <a href="/contact.html">Contact Form:</a> Form validations, service call
      </li>
    </ul>
  </li>
  <li>
    <strong>Miscellaneous</strong>
    <ul>
      <li>
        <a href="/root-data.html">App Root Element Data:</a> Pass data from outside to the app 
        root element or children components, use case: pass data from CMS to the angular app. Implementation
        via providers bootstrapping injection
      </li>
    </ul>
  </li>
</ul>
